/* !-- grid.css ------------------------------ */

//---------------------------------------------------------
// Pure Grid System
// @dependancies grid()
// @see https://purecss.io/grids/
//---------------------------------------------------------
.grid {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.grid-u-1,
.grid-u-1-1,
.grid-u-1-2,
.grid-u-1-3,
.grid-u-2-3,
.grid-u-1-4,
.grid-u-3-4,
.grid-u-1-6,
.grid-u-5-6,
.grid-u-1-8,
.grid-u-3-8,
.grid-u-5-8,
.grid-u-7-8,
.grid-u-1-12,
.grid-u-5-12,
.grid-u-7-12,
.grid-u-11-12,
.grid-u-1-24,
.grid-u-2-24,
.grid-u-3-24,
.grid-u-4-24,
.grid-u-5-24,
.grid-u-6-24,
.grid-u-7-24,
.grid-u-8-24,
.grid-u-9-24,
.grid-u-10-24,
.grid-u-11-24,
.grid-u-12-24,
.grid-u-13-24,
.grid-u-14-24,
.grid-u-15-24,
.grid-u-16-24,
.grid-u-17-24,
.grid-u-18-24,
.grid-u-19-24,
.grid-u-20-24,
.grid-u-21-24,
.grid-u-22-24,
.grid-u-23-24,
.grid-u-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.grid-u-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.grid-u-1-12,
.grid-u-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.grid-u-1-8,
.grid-u-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.grid-u-1-6,
.grid-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.grid-u-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.grid-u-1-4,
.grid-u-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.grid-u-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.grid-u-1-3,
.grid-u-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.grid-u-3-8,
.grid-u-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.grid-u-5-12,
.grid-u-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.grid-u-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.grid-u-1-2,
.grid-u-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.grid-u-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.grid-u-7-12,
.grid-u-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.grid-u-5-8,
.grid-u-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.grid-u-2-3,
.grid-u-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.grid-u-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.grid-u-3-4,
.grid-u-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.grid-u-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.grid-u-5-6,
.grid-u-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.grid-u-7-8,
.grid-u-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.grid-u-11-12,
.grid-u-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.grid-u-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.grid-u-1,
.grid-u-1-1,
.grid-u-24-24 {
    width: 100%;
}

@media screen and (min-width: grid(mobile)) {
    .grid-u-mobile-1,
    .grid-u-mobile-1-1,
    .grid-u-mobile-1-2,
    .grid-u-mobile-1-3,
    .grid-u-mobile-2-3,
    .grid-u-mobile-1-4,
    .grid-u-mobile-3-4,
    .grid-u-mobile-1-6,
    .grid-u-mobile-5-6,
    .grid-u-mobile-1-8,
    .grid-u-mobile-3-8,
    .grid-u-mobile-5-8,
    .grid-u-mobile-7-8,
    .grid-u-mobile-1-12,
    .grid-u-mobile-5-12,
    .grid-u-mobile-7-12,
    .grid-u-mobile-11-12,
    .grid-u-mobile-1-24,
    .grid-u-mobile-2-24,
    .grid-u-mobile-3-24,
    .grid-u-mobile-4-24,
    .grid-u-mobile-5-24,
    .grid-u-mobile-6-24,
    .grid-u-mobile-7-24,
    .grid-u-mobile-8-24,
    .grid-u-mobile-9-24,
    .grid-u-mobile-10-24,
    .grid-u-mobile-11-24,
    .grid-u-mobile-12-24,
    .grid-u-mobile-13-24,
    .grid-u-mobile-14-24,
    .grid-u-mobile-15-24,
    .grid-u-mobile-16-24,
    .grid-u-mobile-17-24,
    .grid-u-mobile-18-24,
    .grid-u-mobile-19-24,
    .grid-u-mobile-20-24,
    .grid-u-mobile-21-24,
    .grid-u-mobile-22-24,
    .grid-u-mobile-23-24,
    .grid-u-mobile-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .grid-u-mobile-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .grid-u-mobile-1-12,
    .grid-u-mobile-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .grid-u-mobile-1-8,
    .grid-u-mobile-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .grid-u-mobile-1-6,
    .grid-u-mobile-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .grid-u-mobile-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .grid-u-mobile-1-4,
    .grid-u-mobile-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .grid-u-mobile-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .grid-u-mobile-1-3,
    .grid-u-mobile-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .grid-u-mobile-3-8,
    .grid-u-mobile-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .grid-u-mobile-5-12,
    .grid-u-mobile-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .grid-u-mobile-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .grid-u-mobile-1-2,
    .grid-u-mobile-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .grid-u-mobile-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .grid-u-mobile-7-12,
    .grid-u-mobile-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .grid-u-mobile-5-8,
    .grid-u-mobile-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .grid-u-mobile-2-3,
    .grid-u-mobile-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .grid-u-mobile-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .grid-u-mobile-3-4,
    .grid-u-mobile-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .grid-u-mobile-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .grid-u-mobile-5-6,
    .grid-u-mobile-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .grid-u-mobile-7-8,
    .grid-u-mobile-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .grid-u-mobile-11-12,
    .grid-u-mobile-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .grid-u-mobile-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .grid-u-mobile-1,
    .grid-u-mobile-1-1,
    .grid-u-mobile-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: grid(tablet)) {
    .grid-u-tablet-1,
    .grid-u-tablet-1-1,
    .grid-u-tablet-1-2,
    .grid-u-tablet-1-3,
    .grid-u-tablet-2-3,
    .grid-u-tablet-1-4,
    .grid-u-tablet-3-4,
    .grid-u-tablet-1-6,
    .grid-u-tablet-5-6,
    .grid-u-tablet-1-8,
    .grid-u-tablet-3-8,
    .grid-u-tablet-5-8,
    .grid-u-tablet-7-8,
    .grid-u-tablet-1-12,
    .grid-u-tablet-5-12,
    .grid-u-tablet-7-12,
    .grid-u-tablet-11-12,
    .grid-u-tablet-1-24,
    .grid-u-tablet-2-24,
    .grid-u-tablet-3-24,
    .grid-u-tablet-4-24,
    .grid-u-tablet-5-24,
    .grid-u-tablet-6-24,
    .grid-u-tablet-7-24,
    .grid-u-tablet-8-24,
    .grid-u-tablet-9-24,
    .grid-u-tablet-10-24,
    .grid-u-tablet-11-24,
    .grid-u-tablet-12-24,
    .grid-u-tablet-13-24,
    .grid-u-tablet-14-24,
    .grid-u-tablet-15-24,
    .grid-u-tablet-16-24,
    .grid-u-tablet-17-24,
    .grid-u-tablet-18-24,
    .grid-u-tablet-19-24,
    .grid-u-tablet-20-24,
    .grid-u-tablet-21-24,
    .grid-u-tablet-22-24,
    .grid-u-tablet-23-24,
    .grid-u-tablet-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .grid-u-tablet-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .grid-u-tablet-1-12,
    .grid-u-tablet-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .grid-u-tablet-1-8,
    .grid-u-tablet-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .grid-u-tablet-1-6,
    .grid-u-tablet-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .grid-u-tablet-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .grid-u-tablet-1-4,
    .grid-u-tablet-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .grid-u-tablet-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .grid-u-tablet-1-3,
    .grid-u-tablet-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .grid-u-tablet-3-8,
    .grid-u-tablet-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .grid-u-tablet-5-12,
    .grid-u-tablet-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .grid-u-tablet-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .grid-u-tablet-1-2,
    .grid-u-tablet-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .grid-u-tablet-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .grid-u-tablet-7-12,
    .grid-u-tablet-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .grid-u-tablet-5-8,
    .grid-u-tablet-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .grid-u-tablet-2-3,
    .grid-u-tablet-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .grid-u-tablet-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .grid-u-tablet-3-4,
    .grid-u-tablet-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .grid-u-tablet-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .grid-u-tablet-5-6,
    .grid-u-tablet-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .grid-u-tablet-7-8,
    .grid-u-tablet-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .grid-u-tablet-11-12,
    .grid-u-tablet-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .grid-u-tablet-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .grid-u-tablet-1,
    .grid-u-tablet-1-1,
    .grid-u-tablet-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: grid(desktop)) {
    .grid-u-desktop-1,
    .grid-u-desktop-1-1,
    .grid-u-desktop-1-2,
    .grid-u-desktop-1-3,
    .grid-u-desktop-2-3,
    .grid-u-desktop-1-4,
    .grid-u-desktop-3-4,
    .grid-u-desktop-1-6,
    .grid-u-desktop-5-6,
    .grid-u-desktop-1-8,
    .grid-u-desktop-3-8,
    .grid-u-desktop-5-8,
    .grid-u-desktop-7-8,
    .grid-u-desktop-1-12,
    .grid-u-desktop-5-12,
    .grid-u-desktop-7-12,
    .grid-u-desktop-11-12,
    .grid-u-desktop-1-24,
    .grid-u-desktop-2-24,
    .grid-u-desktop-3-24,
    .grid-u-desktop-4-24,
    .grid-u-desktop-5-24,
    .grid-u-desktop-6-24,
    .grid-u-desktop-7-24,
    .grid-u-desktop-8-24,
    .grid-u-desktop-9-24,
    .grid-u-desktop-10-24,
    .grid-u-desktop-11-24,
    .grid-u-desktop-12-24,
    .grid-u-desktop-13-24,
    .grid-u-desktop-14-24,
    .grid-u-desktop-15-24,
    .grid-u-desktop-16-24,
    .grid-u-desktop-17-24,
    .grid-u-desktop-18-24,
    .grid-u-desktop-19-24,
    .grid-u-desktop-20-24,
    .grid-u-desktop-21-24,
    .grid-u-desktop-22-24,
    .grid-u-desktop-23-24,
    .grid-u-desktop-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .grid-u-desktop-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .grid-u-desktop-1-12,
    .grid-u-desktop-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .grid-u-desktop-1-8,
    .grid-u-desktop-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .grid-u-desktop-1-6,
    .grid-u-desktop-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .grid-u-desktop-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .grid-u-desktop-1-4,
    .grid-u-desktop-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .grid-u-desktop-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .grid-u-desktop-1-3,
    .grid-u-desktop-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .grid-u-desktop-3-8,
    .grid-u-desktop-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .grid-u-desktop-5-12,
    .grid-u-desktop-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .grid-u-desktop-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .grid-u-desktop-1-2,
    .grid-u-desktop-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .grid-u-desktop-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .grid-u-desktop-7-12,
    .grid-u-desktop-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .grid-u-desktop-5-8,
    .grid-u-desktop-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .grid-u-desktop-2-3,
    .grid-u-desktop-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .grid-u-desktop-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .grid-u-desktop-3-4,
    .grid-u-desktop-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .grid-u-desktop-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .grid-u-desktop-5-6,
    .grid-u-desktop-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .grid-u-desktop-7-8,
    .grid-u-desktop-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .grid-u-desktop-11-12,
    .grid-u-desktop-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .grid-u-desktop-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .grid-u-desktop-1,
    .grid-u-desktop-1-1,
    .grid-u-desktop-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: grid(wide)) {
    .grid-u-wide-1,
    .grid-u-wide-1-1,
    .grid-u-wide-1-2,
    .grid-u-wide-1-3,
    .grid-u-wide-2-3,
    .grid-u-wide-1-4,
    .grid-u-wide-3-4,
    .grid-u-wide-1-6,
    .grid-u-wide-5-6,
    .grid-u-wide-1-8,
    .grid-u-wide-3-8,
    .grid-u-wide-5-8,
    .grid-u-wide-7-8,
    .grid-u-wide-1-12,
    .grid-u-wide-5-12,
    .grid-u-wide-7-12,
    .grid-u-wide-11-12,
    .grid-u-wide-1-24,
    .grid-u-wide-2-24,
    .grid-u-wide-3-24,
    .grid-u-wide-4-24,
    .grid-u-wide-5-24,
    .grid-u-wide-6-24,
    .grid-u-wide-7-24,
    .grid-u-wide-8-24,
    .grid-u-wide-9-24,
    .grid-u-wide-10-24,
    .grid-u-wide-11-24,
    .grid-u-wide-12-24,
    .grid-u-wide-13-24,
    .grid-u-wide-14-24,
    .grid-u-wide-15-24,
    .grid-u-wide-16-24,
    .grid-u-wide-17-24,
    .grid-u-wide-18-24,
    .grid-u-wide-19-24,
    .grid-u-wide-20-24,
    .grid-u-wide-21-24,
    .grid-u-wide-22-24,
    .grid-u-wide-23-24,
    .grid-u-wide-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .grid-u-wide-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .grid-u-wide-1-12,
    .grid-u-wide-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .grid-u-wide-1-8,
    .grid-u-wide-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .grid-u-wide-1-6,
    .grid-u-wide-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .grid-u-wide-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .grid-u-wide-1-4,
    .grid-u-wide-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .grid-u-wide-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .grid-u-wide-1-3,
    .grid-u-wide-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .grid-u-wide-3-8,
    .grid-u-wide-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .grid-u-wide-5-12,
    .grid-u-wide-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .grid-u-wide-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .grid-u-wide-1-2,
    .grid-u-wide-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .grid-u-wide-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .grid-u-wide-7-12,
    .grid-u-wide-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .grid-u-wide-5-8,
    .grid-u-wide-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .grid-u-wide-2-3,
    .grid-u-wide-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .grid-u-wide-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .grid-u-wide-3-4,
    .grid-u-wide-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .grid-u-wide-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .grid-u-wide-5-6,
    .grid-u-wide-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .grid-u-wide-7-8,
    .grid-u-wide-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .grid-u-wide-11-12,
    .grid-u-wide-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .grid-u-wide-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .grid-u-wide-1,
    .grid-u-wide-1-1,
    .grid-u-wide-24-24 {
        width: 100%;
    }
}
