//---------------------------------------------------------
// Theme
// Facilitates switching between themes
// @author https://github.com/woodscreative
//---------------------------------------------------------

//---------------------------------------------------------
// Define theme to use
//---------------------------------------------------------

$theme : 1;

//---------------------------------------------------------
// Theme - 1
//---------------------------------------------------------

$theme-1 : (
  bg-color : red
);

//---------------------------------------------------------
// Theme - 2
//---------------------------------------------------------

$theme-2 : (
  bg-color : green
);

//---------------------------------------------------------
// Access theme list via function
// @param string $k Object key from defined theme object
// @example
// body { background-color: theme(bg-color) };
//---------------------------------------------------------

@function theme($k) {
  // Switch themes
  @if $theme == 1 {
    @return map-get($theme-1,$k);
  }
  @if $theme == 2 {
    @return map-get($theme-2,$k);
  }
}